body {
    text-align: center;
    color: white;
    background-color: rgb(39, 39, 39);
    text-decoration: none;
}

.goToRegistration_B {
    padding: 0;
    position: absolute;
    vertical-align: center;
    font-size: 80%;
    top: 1%;
    right: 1%;
    border: none;
    background: none;
    color: white;
  }